NET "clk" IOSTANDARD = LVCMOS18 | LOC = R4;
NET "j" IOSTANDARD = LVCMOS18 | LOC = U3;
NET "k" IOSTANDARD = LVCMOS18 | LOC = T4;
NET "clk" PULLDOWN;
NET "j" PULLDOWN;
NET "k" PULLDOWN;
NET "q" IOSTANDARD = LVCMOS18 | LOC = R1;
NET "qn" IOSTANDARD = LVCMOS18 | LOC = P2;

