NET "data_in[2]" IOSTANDARD = LVCMOS18 | LOC = T3;
NET "data_in[1]" IOSTANDARD = LVCMOS18 | LOC = U3;
NET "data_in[0]" IOSTANDARD = LVCMOS18 | LOC = T4;
NET "enable[2]" IOSTANDARD = LVCMOS18 | LOC = V3;
NET "enable[1]" IOSTANDARD = LVCMOS18 | LOC = V4;
NET "enable[0]" IOSTANDARD = LVCMOS18 | LOC = W4;
NET "data_in[2]" PULLDOWN;
NET "data_in[1]" PULLDOWN;
NET "data_in[0]" PULLDOWN;
NET "enable[2]" PULLDOWN;
NET "enable[1]" PULLDOWN;
NET "enable[0]" PULLDOWN;
NET "data_out[7]" IOSTANDARD = LVCMOS18 | LOC = R1;
NET "data_out[6]" IOSTANDARD = LVCMOS18 | LOC = P2;
NET "data_out[5]" IOSTANDARD = LVCMOS18 | LOC = P1;
NET "data_out[4]" IOSTANDARD = LVCMOS18 | LOC = N2;
NET "data_out[3]" IOSTANDARD = LVCMOS18 | LOC = M1;
NET "data_out[2]" IOSTANDARD = LVCMOS18 | LOC = M2;
NET "data_out[1]" IOSTANDARD = LVCMOS18 | LOC = L1;
NET "data_out[0]" IOSTANDARD = LVCMOS18 | LOC = J2;